.div1{
    background-color: aquamarine;
    height: 200px;
}
.div2{
    background-color: blueviolet;
    height: 200px;
}
.div3{
    background-color:lawngreen;
    height: 200px;
}
.div4{
    background-color:palevioletred;
    height: 200px;
}.div5{
    background-color: olive;
    height: 200px;
}.div6{
    background-color:khaki;
    height: 200px;
}.div7{
    background-color: wheat;
    height: 200px;
}.div8{
    background-color:sandybrown;
    height: 200px;
}.div9{
    background-color: firebrick;
    height: 200px;
}.div10{
    background-color:cadetblue;
    height: 200px;
}.div11{
    background-color: thistle;
    height: 200px;
}.div12{
    background-color: tan;
    height: 200px;
}